<!DOCTYPE html>
{% load static %}
{% load carttags %}
<html>
<head>
    <meta charset="utf-8"> 
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %} 
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}

    {% block js %}
    <!-- development version, includes helpful console warnings 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% endblock %}

</head>
<body>
    {% csrf_token %}
        <div class="h2 text-center head">Корзина</div>
        <div class="form-group d-grid gap2 col-6 mx-auto">
            {% block content %}
            {% endblock %}
        </div>
        <div class="d-grid gap2 col-3 mx-auto">
            <button class="bform-control btn btn-lg btn-light col-12">
                <a href="{% url 'index' %}" class="">на главную </a>
            </button>
        </div> 
    </div> 
</body>
</html>
