{% extends 'cartapp/base.html' %} 
{% load static %}


{% block content %}
{% for item in user.cart.all %}
<div class="cart-record">
    <img class="product-image" src="/media/{{ item.product.image }}"
    alt="{{ item.product.description }}"
    <span>{{ item.product.name }}</span>
    <span>{{ item.product.price }}</span>
    <span>{{ item.quantity}}</span>
    <span>{{ item.cost}}</span>
    <a href="{% url 'cart:remove' item.id %}">Удалить</a>
</div>
{% endfor %}
{% if user.cart.all %}
<div class="cart-summary">
В корзине {{ user.cart.quantity }} товаров на {{ user.cart.sum }} руб.
</div>
{% endif %}
<div class="d-grid gap2 col-6 mx-auto">
    <button class="bform-control btn btn-lg btn-light col-12">
        <a href="{% url 'index' %}" class="">на главную </a>
    </button>
</div>
{% endblock %}