<div class="header clearfix">
    <a href={% url 'index' %} class="logo"></a>
    <ul class="menu">
        {% with url_name=request.resolver_match.url_name %}
            {% for name, val in menu.items %}
                <li><a href={% url name %} class="{% if url_name == name %} active {% endif %}"> {{ val.title }} </a></li>
            {% endfor %}
        {% if user.is_authenticated %}
            <li>
                <div class="dropdown">
                    <a href]'#'>{{ user.username|default:'Пользователь' }}</a>
                    <div class="dropdown-content">
                        <a href="{% url 'auth:edit' %}">Профиль</a>
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:users' %}">админка</a>
                        {% endif %}
                        <a href="{% url 'cart:view' %}">Корзина&nbsp;({{request.user.cart.all|length}})</a>
                        <a href="{% url 'orders:list' %}">Заказы</a>
                        <a href="{% url 'auth:logout' %}">выйти</a>
                    </div>
                </div>
            </li>
            
        {% else %}
            <li><a href="{% url 'auth:login' %}">войти</a></li>
            <li><a href="{% url 'auth:register'%}">регистрация</a></li>
        {% endif %}
        {% endwith %}
        <li><a href="#" class="search"></a></li>
    </ul>
</div>