{% extends 'adminapp/base.html' %} 
{% load static %}
{% block content %}
<div class="categories_list">
    <button class="new_category btn btn-light">
        <a href={% url 'admin:category_create' %}>новая категория </a>
    </button>
    <table class="table">
        <tr>
            <th>Категория</th>
            <th>Описание</th>
            <th></th>
        </tr>
    {% for object in objects %} 
    <tr {% if object.is_active != True %} class="bg-secondary"{% endif %}> 
        <td class="category_name">{{ object.name|title }} </td>
        <td class="category_desc">{{ object.description|title }} </td>
        
        <td class="category_actions"> 
            <button class="btn btn-light">
                <a href={% url 'admin:products' object.pk %}>товары категории</a> 
            </button> 
            <button class="btn btn-light">
                <a href={% url 'admin:category_update' object.pk %}>редактировать</a> 
            </button> 
            <button class="btn btn-light">
                <a href={% url 'admin:category_delete' object.pk %}>удалить</a> 
            </button>
        </td>
    </tr> 
    {% endfor%}
    </table>
</div>
{% endblock %}