{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
<form class="form-horizontal" action="{% url 'auth:edit' %}" method="post"
enctype="multipart/form-data"> 
{% csrf_token %}{{ edit_form.as_p }}
<div class="d-grid gap2 col-12 mx-auto">
    <input class="form-control btn btn-lg btn-primary col-4 mr-4" type="submit" value="сохранить"> 
    <button class="bform-control btn btn-lg btn-light col-4 mr-4">
        <a href="{% url 'index' %}" class="">на главную </a>
    </button>
</div>
</form>
<div class="user_avatar"><img src="/media/{{ user.avatar }}"></div> 
{% endblock %}