{% extends 'authapp/base.html' %} 
{% load static %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <div class="btn-group" role="group" aria-label="Login">
            <input class="login-btn btn btn-lg btn-primary form-control" type="submit" value="Вход">
            <a class="login-btn btn btn-lg btn-primary form-control" href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
        </div>
    </form> 
{% endblock %}
