{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
<form class="form-horizontal" action="{% url 'auth:register' %}"
    method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ register_form.as_p }}
    <br>
    <div class="d-grid gap2 col-6 mx-auto">
        <input class="form-control btn btn-lg btn-primary" type="submit" value="зарегистрироваться">
        <button class="bform-control btn btn-lg btn-light col-4 mr-4">
            <a href="{% url 'index' %}" class="">на главную </a>
        </button>
    </div>
</form> 
{% endblock %}